ul {
  list-style: none;
}

#signup {
  background-image: url('images/bgimg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#login {
  display: flex;
  flex-direction: column;
  background-image: url('images/bgimg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.textlogo {
  font-size: 4rem;
  font-family: 'Courier New', Courier, monospace;
}

body {
  box-sizing: border-box;
  background-color: #fbf0eb;
}

#headernav {
  display: flex;
}

header {
  display: flex;
}

nav {
  display: flex;
}
